body {
    margin: 0;
    width: 100% auto;
    box-sizing: border-box;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #072f58;
    margin: 50px 30px;
    padding: 3px 30px;
    opacity: 0.9;
    box-shadow: #064584 5px 4px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo-navbar img  {
    width: 60px;
    margin-left: 15px;
}

.container .navbar-link li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

.container .navbar-link li a {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    font-size: 10;
    color: #eeee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .navbar-link li a:hover {
    color: #0d74dc;
}

.container .navbar-link li a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #0d74dc;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.container .navbar-link li a:hover::after {
    transform: scaleX(0.7);
    -webkit-transform: scaleX(0.7);
    -moz-transform: scaleX(0.7);
    -ms-transform: scaleX(0.7);
    -o-transform: scaleX(0.7);
}

.content {
    display: flex;
    margin: 80px 40px;
    background-color: lightgray;
    opacity: 0.8;
    justify-content: space-between;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #eee 5px 4px ;
}

.content .homepage {
    color: #072f58;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
}

.content .homepage h1 {
    font-size: 50px;
    -webkit-text-stroke: 1px #eeee;
}

.content .homepage h1 span {
    color: rgb(193, 63, 63);
}

.content .homepage p {
    font-size: 20px;
    margin-bottom: 28px;
}

.content .aside img {
    margin-right: 80px;
}

.content .homepage .btn-scroll a {
    text-decoration: none;
    font-weight: bold;
    background-color: #0d74dc;
    padding: 10px 20px;
    color: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content .homepage .btn-scroll a:hover {
    background-color: #072f58;
}

#changeName {
    font-weight: bold;
    background-color: #0d74dc;
    padding: 12px 15px;
    margin-bottom: 2px;
    color: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#changeName:hover {
    background-color: #072f58;
}

.content-about {
    background-color: lightslategray;
    opacity: 0.9;
    margin-top: 131px;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.content-about .header-about h1 {
    margin-top: 100px;
    padding: 30px;
    font-family:' Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;  
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-size: 30px;  
    color: #072f58;
}

.content-about .content-tech {
    display: flex;
}

.content-about .content-tech .tech-about {
    padding: 50px 50px;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 30px;
    margin-right: 150px;
    background-color: #eee;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.content-about .content-tech .tech-about  h3 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content-about .content-tech .tech-about p {
    font-size: 20px;
}

.content-about .content-tech .tech-pict {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-article {
    padding: 2%;
    margin-top: 10px;
    background-color: lightslategray;
    opacity: 0.9;
    box-shadow: 1px 1px 1px 1px #eee;
}

.content-article .header-article h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #072f58;
    text-align: center;
    text-decoration: underline;
    
}

.content-article .header-article span {
    color: rgb(212, 75, 75);
}

.content-article .content-news .news-card{
    display: flex;
    margin: 0;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.content-article .content-news .news-card .card {
    background-color: #072f58;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    border: 2px solid lightsteelblue;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 8px 16px 0 rgba(250, 246, 246, 0.1);
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    -o-border-radius: 0px 0px 15px 15px;
}

.content-article .content-news .news-card .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 95%;
    transition-duration: 1s;
}

.content-article .content-news .news-card .card .container-card {
    padding: 30px 20px;
}

.content-article .content-news .news-card .card .container-card h2 {
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-article .content-news .news-card .card .container-card span {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.content-article .content-news .news-card .card .container-card p {
    color: #eee;
    line-height: 25px;
    margin-bottom: 20px;
    font-size: 17px;
}

.content-article .content-news .news-card .card .container-card a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    background-color: #0d74dc;
    padding: 9px 9px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.content-article .content-news .news-card .card .container-card a:hover {
    color: #0d74dc;
    background-color: transparent;
    text-decoration: underline;
}

.content-gallery {
    background-color: lightslategrey;
    opacity: 0.9;
    margin-top: 10px;
    padding: 2%;
}

.content-gallery .header-gallery h1 {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #072f58;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.content-gallery .gallery-container {
    box-shadow: 0 4px 8px 0 rgba(244, 244, 244, 0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.gallery-top {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.gallery-top .gallery-one, .gallery-top .gallery-two {
    margin-right: 20px;
}

.gallery-bottom {
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin-left: 20px;
}

.gallery-bottom .gallery-three, .gallery-bottom .gallery-four {
    margin-right: 10px;
    margin-bottom: 30px;
}

.gallery-bottom .gallery-five {
    margin-right: 15px;
}

.gallery-container img {
    border: #297dd1 5px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 1px 0 1px #eee;
}

.gallery-container img:hover {
    cursor: pointer;
    width: 100%;
    box-shadow: 0 1px 0 1px lightsteelblue;
}

/* Contact */

.contact {
    padding: 1rem 7% 1.4rem;
    background-color: lightslategrey;
    margin-top: 10px;
    opacity: 0.9;
}

.contact h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0.7rem;
    color: #072f58;
    text-decoration: underline;
}

.contact p {
    color: #eee;
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 200;
    line-height: 1.6rem;
}

.contact .row {
    display: flex;
    margin-top: 3rem;
    background-color: #222;
}

.contact .row .maps {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 rem;
    padding: 2rem 2rem;
    text-align: center; 
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: #222;
    border: 1px solid #eee;
    padding-left: 1rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 1rem;
    font-size: 0.9rem;
    background: none;
    color: #eee;
}

.contact .row form .input-group textarea {
    padding: 1rem;
    font-size: 1rem;
    background: none;
    justify-content: center;
    color: #eee;
}

.contact .row form .btn {
    margin-top: 1.4rem;
    display: inline-block;
    padding: 0.7rem 0.7rem;
    font-weight: 700;
    color: #eee;
    background-color: #78583c;
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    -o-border-radius: 8%;
    cursor: pointer;
}

/*  Footer */
footer {
    background-color: lightslategray;
    text-align: center;
    padding: 1.4rem;
    margin-top: 0.5rem;
    opacity: 0.8;
}

footer .socials-media a {
    color: #fff;
    margin: 0.4rem;
    size: 1rem;
}

footer .socials-media a:hover {
    color: #0d74dc;
}

footer .links {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

footer .links a {
    color: #fff;
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

footer .links a:hover {
    color: #0d74dc;
    text-decoration: underline;
}

footer .credit a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

footer .credit a:hover {
    color: #0d74dc;
    text-decoration: underline;
}

/* Responsive Layout */
/* Tablet */
/* Hero Section */
@media only screen and (max-width: 768px) {
    .content {  
    background-color: lightgray;
    opacity: 0.8;
    justify-content: space-between;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: #eee 5px 4px;
    flex-wrap: wrap;
    }

    .aside img{
        margin-left: 95px;
        width: 50vh;
        height: 50vh;
    }

/* About Section */

    .content-about .header-about h1 {
        font-size: 25px;
    }

    .content-about .content-tech .tech-about {
        padding: 20px 50px;
        margin-bottom: 40px;
        margin-left: 130px;
    }

    .content-about .content-tech .tech-about h3 {
        font-size: 22px;
    }

    .content-about .content-tech .tech-about p {
        font-size: 18px;
    }

    .content-about .content-tech .tech-about img {
        margin-top: 20px;
        width: 90px;
        height: 100px;
    }

    /* Article Section */
    .content-article .header-article h1 {
        font-size: 25px;
    } 

    .content-article .content-news .news-card {
        margin: 10;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 75%;
        border-radius: 5px;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 85px;
    }

    /* Gallery Section */
    .content-gallery .header-gallery h1 {
        font-size: 25px;
    }

    .gallery-top .gallery-one {
        width: 350px;
        height: 150px;
    }

    .gallery-top .gallery-two {
        width: 340px;
        height: 150px;
    }

    .gallery-bottom .gallery-three {
        width: 210px;
        height: 140px;
    }

    .gallery-bottom .gallery-four {
        width: 215px;
        height: 140px;
    }

    .gallery-bottom .gallery-five {
        width: 210px;
        height: 140px;
    }

    /* Contact Section */
    .contact h2
    {
        font-size: 2.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .maps {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
        margin-top: 10px;
        width: 89%;
    }
    }

    /* Mobile */

    @media only screen and (max-width: 320px){
        
    .navbar {
        background-color: #072f58;
        width: 100%;
        padding: 30px 300px;
        opacity: 0.9;
        box-shadow: #064584 5px 4px;
        margin: 0;
    }
    
    .navbar .logo-navbar {
        margin-right: 80px;
    }

    .content-about .header-about h1 {
        font-size: 8px;
    }

    .content {
        display: flex;
        width: 100%;
        padding: 250px;
        margin-left: 50px;
    }

    .content .homepage {
        margin: 0;
        padding: 0;
    }

    .content .aside img {
        margin: 0;
        padding: 50px;
    }

    .content-about {
        display: inline-block;
        width: 288%;
        padding: 0;
        padding: 0;
    }

    .content-about .header-about h1 {
        font-size: 30px;
        margin-left: 30px;
    }

    .content-article {
        display: inline-block;
        width: 284%;
    }

    .content-article .header-article h1 {
        font-size: 20px;
        margin-left: 90px;
    }

    .content-article .content-news .news-card {
        margin-left: 115px;
        padding: 0;
        margin-bottom: 50px;
    }

    .content-gallery {
        display: inline-block;
        width: 284%;
    }

    
    .gallery-top {
        margin-left: 70px;
    }

    .gallery-top .gallery-one {
        width: 370px;
        height: 200px;
    }

    .gallery-top .gallery-two {
        width: 370px;
        height: 200px;
    }

    .gallery-bottom {
        margin-left: 65px;
    }

    .gallery-bottom .gallery-three {
        width: 240px;
    }

    .gallery-bottom .gallery-four {
        width: 250px;
    }

    .gallery-bottom .gallery-five {
        width: 240px;
    }

    .contact {
        width: 170%;
        padding: 0;
    }

    .contact h2  {
        margin-left: 100px;
        margin-top: 10px;
    }
    .contact p{
        margin-left: 250px;
        margin-top: 20px;
    }

    .contact .row {
        flex-wrap: wrap;
        margin-left: 250px;
        width: 50%;
        margin-bottom: 20px;
    }
    .contact .row .maps {
        height: 20rem;
        margin-bottom: 10px;
    }

    .contact .row form {
        width: 85%;
        margin: auto;
    }

    footer {
        width: 275%;
    }
}


